@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Oleo+Script+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Lobster&family=Oleo+Script+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Lobster&family=Oleo+Script+Swash+Caps&family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html{
  scroll-behavior: smooth;
  scroll-padding: 13vh;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #5c5c5c;
  color: white;
  font-family: "Exo 2", sans-serif;
  padding: 25px;
}

#nav-bar {
  margin-left: 20px;
}

#nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  list-style: none;
  /*  */
  flex-wrap: wrap;
}

#nav-bar ul a {
  text-decoration: none;
}

/* body {
  overflow: hidden;
} */

/* .sidebar {
    background-color: rgb(81, 80, 80);

    width: 200px;
    font-family: "Oleo Script Swash Caps", cursive;
    height: 120vh;
}

.sidebar nav {
    padding: 60px;
    width: 100px;
}

.sidebar nav li {
    list-style: none;
    font-size: 18px;
    padding: 30px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: white;
} */

.main {
  background-color: rgb(8, 8, 8);
  width: 100vw;
}

.container {
  display: flex;
}

.infocontainer {
  /* background-color: rgb(10, 162, 244); */
  height: 67vh;
  width: 150vh;
  margin: 135px;
  display: flex;
  justify-content: space-around;
}

.devPic img {
  width: 600px;
  display: inline-block;
  height: 55vh;
  background-color: rgb(0, 63, 81);
  border-radius: 78% 22% 70% 30% / 34% 30% 70% 66%;
}

.devinformation {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Hello {
  font-size: 80px;
  font-weight: bolder;
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.Name {
  font-size: 50px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}

.Heading {
  font-size: 50px;
  align-items: center;
}

/* .AboutMe {
    font-size: 20px;
    font-family: "Indie Flower", cursive;
} */

.moreaboutme {
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
}

.buttons {
  margin-top: 30px;
}

.buttons button {
  padding: 20px;
  border-radius: 30px;
  background-color: rgb(96, 96, 96);
  margin: 0 20px 0 0;
  cursor: pointer;

}

.buttons button:hover {
  background-color: rgb(14, 228, 248);
  color: rgb(252, 252, 252);
}

.information {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intropic img {
  display: inline-block;
  height: 60vh;
  /* background-color: rgb(72, 195, 230);
    border-radius: 41% 59% 35% 65% / 70% 25% 75% 30% */
}
.prjbuttons button{
  padding: 10px;
  border-radius: 30px;
  background-color: #5c5c5c;
  cursor: pointer;
}
.contactform {
  padding: 0 50px;
  font-family: "Koulen", cursive;
  padding-top: 80px;
}

.contactform {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.contactform .contactformdetails {
  width: 30vw;
  border-radius: 5px;
  margin: 6px;
  padding: 10px;
  font-size: 18px;
  /* outline: none; */
}

.contactform img {
  margin-top: 70px;
  margin-left: -90px;
  border-radius: 30px;
  height: 40vh;
  width: 250px;
}

.contactformdetails::placeholder {
  color: black;
}

.form-control {
  width: 500px;
  height: 42px;
  transition: 0.25s;

  border-radius: 10px;
  padding: 5px 10px;
}

.form-control:focus {
  border-color: rgb(229, 254, 3);
  box-shadow: 0 0 8px 0 rgb(217, 255, 0);
  color: rgb(11, 117, 17);
  font-size: 1rem;

  /* background-color: rgb(87, 184, 244); */
}

.form-control-message {
  width: 500px;
  height: 40px;
}

.btn {
  padding: 10px 40px;
  background: rgb(95, 94, 94);
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
  margin-left: 500px;
}

.btn:hover {
  background-color: white;
  color: blue;
}

.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  visibility: hidden;
}

.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: rgb(26, 26, 26);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  display: block;
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;

  color: rgb(26, 26, 26);
}

.popup p {
  color: rgb(26, 26, 26);
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.footer {
  background: rgb(94, 93, 93);
}

/* @media only screen and (max-width: 744px) {
    body {
        background-color: rgb(246, 2, 2);
    }

    .sidebar {
        transform: translate;
    }
} */